{{render header}}
<div class="page-content blocky">
  <div class="container">
    {{outlet}}
  </div>
</div>

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
