<div class="sidebar-dropdown"><a href="#">MENU</a></div>
<div class="sidey">
  <div class="side-cont">
    <ul class="nav">
      <li class="has_submenu">
        {{#link-to bi tagName='a'}}
          <i class="fa fa-bar-chart-o"></i> Business Intelligence
          <span class="caret pull-right"></span>
        {{/link-to}}
        <ul>
          <li>{{#link-to company tagName='a'}}Company{{/link-to}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>