<div class="sidebar-dropdown"><a href="#">MENU</a></div>
<div class="sidey">
  <div class="side-cont">
    <ul class="nav">
      <li class="has_submenu">
        <a href="#">
          <i class="fa fa-bar-chart-o"></i> Business Intelligence
          <span class="caret pull-right"></span>
        </a>
        <ul>
          <li>{{#link-to 'bi.company' tagName='a'}}Company Dashboard{{/link-to}}</li>
          <li>{{#link-to 'executive.index' tagName='a'}}Executive Reports{{/link-to}}</li>
          <li>{{#link-to 'product.index' tagName='a'}}Product Reports{{/link-to}}</li>
          <li>{{#link-to 'marketting.index' tagName='a'}}Marketting Reports{{/link-to}}</li>
          <li>{{#link-to 'accounting.index' tagName='a'}}Accounting Reports{{/link-to}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>